
<div style="display:flex;flex-direction:row;background:#efefef;padding: 1.2em 1.5em;">
  <span style="width:70px;font-size:2.8em">⚠️</span>
  <p style="flex:1;font-size:1.2em;line-height: 1.5;word-break: keep-all;">
    <span>이 블로그의 모든 포스트는 Notion 데이터베이스를 자동 변환하여 작성 되었습니다.</span><br />
    <span>따라서 문서에 따라 깨져 보일 수 있습니다.</span><br />
    <span>더 많은 내용이 궁금하시다면 👀</span> <a href="https://www.notion.so/croot-dev/6c50e956396b41449b42a8e134d97c4e" target="_blank" style="margin-top:12px;z-index:1">Notion 보러가기</a>
  </p>
</div>
