/* ==========================================================================
   Mixins
   ========================================================================== */

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Font families
@mixin ff--sans-serif($font-weight: normal) {
    font-family: 'Apple SD Gothic Neo', 'Apple Gothic', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: $font-weight;
}

@mixin ff--code {
    font-family: 'Roboto Mono', monospace;
}

// Font sizing
@mixin fs--title {
    margin-top: 1em;
    margin-bottom: 0.25em;
    line-height: 1.5;
    font-size: 2.8rem; // 48px
    font-weight: 700;
}

@mixin fs--heading-1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
    font-size: 2.4rem; // 32px
    font-weight: 700;
}

@mixin fs--heading-2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
    font-size: 2rem; // 24px
    font-weight: 600;
}

@mixin fs--heading-3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
    font-size: 1.8rem; // 20px
    font-weight: 600;
}

@mixin fs--heading-4 {
    line-height: 1.5;
    font-size: 1.6rem; // 18px
}

@mixin fs--body {
    line-height: 1.5;
    font-size: 1.25rem; // 18px
}

@mixin fs--meta {
    line-height: 1;
    font-size: 1rem; // 18px
}

@mixin fs--caption {
    line-height: 1;
    font-size: 1rem; // 16px
}

@mixin fs--code {
    border-radius: 4px;
    background-color: rgb(247, 246, 243);
    color: #EB5757;
    font-size: 0.85em;
    padding: 0.2em 0.4em;
    line-height: 1.5;
}

// Visually hide content
@mixin visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

