/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 54rem; // 860px
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

