---
layout: page
---
{% include katex_support.html %}

<div>
{% include notion_notice.html %}
</div>

<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
    <!-- <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p> -->
  </header>

  <div class="c-article__info">
    <table>
      <tbody>
        <tr>
          <th>작성일</th><td>{{page.created | date: "%Y년 %m월 %d일" }}</td>
        </tr>
        <tr>
          <th>수정일</th><td>{{page.edited | date: "%Y년 %m월 %d일" }}</td>
        </tr>
        <tr>
          <th>카테고리</th><td>{{page.category}}</td>
        </tr>
        <tr>
          <th>태그</th><td>
            <ul class="c-tags">
              {% for tagObj in page.tags %}
              {% assign tag = tagObj | split: ":" %}
              <li class="c-tag" style="background:{{tag[1]}};color:{{tag[2]}}">{{ tag[0] }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% if page.notion_id %}
        <tr>
          <th>원본</th><td><a href="https://croot.notion.site/{{page.notion_id | remove: '-'}}" target="_blank" rel="noopener noreferrer">https://croot.notion.site/{{page.notion_id | remove: '-'}}</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="c-article__main">
    {{ content }}
  </div>

  <div class="c-article__comment">
    <script src="https://utteranc.es/client.js"
        repo="croot-dev/croot-dev.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
  </div>


  <!-- Previous / Next Buttons -->
  <div class="pagenav">
    {% if page.previous.url %}
    <div class="wrapper" id="left">
      <small><b>Previous</b> {{page.previous.date | date: "%b %-d, %Y"}}</small>
      <br>
      <a class="no-hov" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="wrapper" id="right">
      <small>{{page.next.date | date: "%b %-d, %Y"}} <b>Next</b></small>
      <br>
      <a class="no-hov" href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}
  </div>
  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus">
    <section id="disqus_thread"></section>
    {% include disqus.html %}
  </div>
  {% endif %}
</article>
